{% extends 'base.html' %}
{% block content %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>About page</title>
    <style>
        .center {
        width: 500px; /* Ширина элемента в пикселах */
        padding: 20px; /* Поля вокруг текста */
        margin: auto; /* Выравниваем по центру */
        background: rgb(181, 36, 179); /* Цвет фона */
   }
    </style>
  </head>
  <body>
    <div class="center">
       <h1>This is another training project of mine 👨‍🎓,<br/>
         more emphasis was placed on the back-end,<br/>
         so don't judge strictly for the visual component,<br/>
        This is a sneaker store with two sections, for men and women,<br/>
         each section has its own database, from the main page you can go to these sections,<br/>
          and from these sections to the  "purchase" page </h1>
    </div>
  
    {% endblock %}
  </body>
</html>