
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<p class="lead">
  </p>
  <figure class="text-center">
    <blockquote class="blockquote">
      <p>Эта страница описания веб-сайта.
        <p>Сайт создавался в учебных целях, его функция, генерировать случайный пароль
        Классическая генерация включает в себя генерацию пароля из букв нижнего регистра без специальных символов и цифр
        У сайта есть три функции генерации пароля</p></p>
    </blockquote>
  </figure>

  <ul>
    <li>1. Включающий в себя буквы верхнего регистра</li>
    <li>2. Включающий в себя цифры</li>
    <li>3. Включающий в себя специальные символы</li>
    <li>Так же на главной странице вы можете выбрать длину пароля который желаете сгенерировать</li>
  </ul>
  <figcaption class="blockquote-footer">
    <cite title="Source Title"> Meleshkin Dmitry</cite>
 </figcaption>

 <a href="{% url 'home' %}" class="btn btn-success">На главную</a>